.gallery__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 97px;    
    margin: auto;   
    & :nth-child(2) {
        margin-top: 10px;
    }
    & :nth-child(4) {
        margin-top: 25px;
    }
}

.gallery__box-img {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0 1px;
    height: 100%;
    margin-bottom: 5px;
    @media screen and(min-width:768px) {
        padding: 0 2px;
    }
    @media screen and(min-width:1280px) {
        padding: 0 5px;
    }
}
.galery__img {
    display: block;
    width: 100%;
    border-radius: 10px;
    transition-property: transform;
    margin-bottom: 2px;
    @media screen and(min-width:480px) {
        width: 100%;
        margin-bottom: 4px;
    }
    @media screen and(min-width:768px) {
        width: 100%;
        margin-bottom: 5px;
    }
    @media screen and(min-width:1280px) {
        width: 100%;
        margin-bottom: 10px;
    }
    &:hover {
        transform: scale(1.2);    
        transition-duration: 500ms;
    }
}

.corect-width-galery-img {
    width: calc(100% / 2);
    margin-bottom: 0;
}

.galery__box {
    height: 100%;
    margin-bottom: 20px;
    @media screen and(min-width:768px) {
        margin-bottom: 40px;
    }
    @media screen and(min-width:1280px) {
        margin-bottom: 60px;
    }
}
.gradient {
    background-image: linear-gradient(
        to bottom,
        $gallery-gradient-color 65%,
        $white-text-color 35%,
        $white-text-color 35%
    );
    @media screen and(min-width:768px) {
        background-image: linear-gradient(
            to bottom,
            $gallery-gradient-color 55%,
            $white-text-color 45%,
            $white-text-color 45%
        );
    }
}
