.gallery__container{
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,        
        #FFF5F6 40%,  
        #ffffff 40%,
        #ffffff 60%
      );
      display: flex;
      align-items: center;
      width: 320px;
      justify-content: center;
      @media screen and(min-width:480px){
        width: 480px; 
        padding-left: 30px;
        padding-right: 30px;
             
           
    }
    @media screen and(min-width:768px){
        width: 768px;
        padding-left: 30px;
        padding-right: 30px;
           
    }
    @media screen and(min-width:1280px){
        width: 1280px;
           
    }
    

}


.gallery__container :nth-child(2){
    margin-top: 50px;

}
.gallery__container :nth-child(4){
    margin-top: 55px;

}
.gallery__container :nth-child(5){
    padding: ;
  }

.gallery__box-img{
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0 5px;
    height: 100%;

   
}


.galery__img{
    display: block;
    width:100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition-property: transform;
   
    @media screen and(min-width:480px){
        width:100%;      
           
    }
    @media screen and(min-width:768px){
        width:100%;  
           
    }
    @media screen and(min-width:1280px){
        width:100%;  
           
    }
    
}
.galery__img:hover{
        transform: scale(1.2);
        
        transition-duration: 500ms;
      }
.corect-width-galery-img{
    width: calc(100% / 2);
    margin-bottom: 0;
}



.gradient{    
    margin: 0 auto;       
    background-image: linear-gradient(
    to bottom,
  
    #FFF5F6 40%,  
    #ffffff 40%,
    #ffffff 60%
);
}